<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
    <head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.js"></script>          
	<script type="text/javascript">
		 jQuery(document).ready(function() {
   			
			jQuery.ajax({
  				url: "history",
  				success: function(data) {
    				jQuery("#history").append("<li>"+data);
  				}
			});
			
			
			jQuery(".trackedlink").click(function() {
				jQuery.ajax({
  					url: jQuery(".trackedlink").attr("href"),
  					success: function(data) {
    					jQuery("#results").append("<li>"+data);
  					}
				});

				return false;   			
			});
 		
		});

	</script>
        <title>PAGE TITLE</title>
        <!-- Some CSS and some javascript -->
    </head>
    <body>
  		<ul>
		<li><a class="trackedlink" href='track?campaign=campaign_1'>Click Me To Track Campaign 1</a>
		<li><a class="trackedlink" href='track?campaign=campaign_2'>Click Me To Track Campaign 2</a>
		<li><a class="trackedlink" href='track?campaign=campaign_3'>Click Me To Track Campaign 3</a>
		</ul>
		
		<ul id="results">
		</ul>

		<ul id="history">
		</ul>
		

    </body>
</html>
